numpy~=1.21.5
torch~=1.13.1
tensorboard
six~=1.16.0
Pillow~=9.4.0
matplotlib
tqdm
mujoco-py ~= 1.50.1.68
gym~=0.15.3
dowel~=0.0.4
akro~=0.0.8

scipy~=1.7.3
psutil~=5.9.0
torchvision~=0.13.1
scikit-learn~=0.24.2

cloudpickle~=1.2.2
